.head{
    color: white;
    padding: 15px;
    background: linear-gradient(45deg, green, rgb(243, 184, 21));
}
.btn-login{
    background-color: green;
    font-size: 14px;
    width: 150px;
    
    color: white;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    }
    .btn-login:hover{
        background-color: white;
        color: green;
        font-weight: bold;
    }
    
    .navbar-toggler{
      border: none;
      font-size: 1.25rem;
    }
    .navbar-toggler:focus,btn-close:focus{
        box-shadow: none;
        outline: none;
    }
    .nav-link{
        color: rgba(0, 0, 0, 0.692);
        font-weight: 500;
        font-size: 24px;
      
    }
    .nav-link:hover, .nav-link.active{
        color: black;
    }
     .nav-link::before,.dropdown-item::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: green;
        visibility: hidden;
        transform: translateX(-50%);
        transition: width 0.3s ease-in-out;
    }
    
     .nav-link:hover::before,.dropdown-item:hover::before {
        width: 100%;
        visibility: visible;}
       
        .carousel-caption {
            bottom: 220px;
        }
        .carousel-caption h5 {
            font-size: 55px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 25px;
        }
        .carousel-caption p {
            width: 60%;
            margin: auto;
            font-size: 22px;
            line-height: 1.9;
        }
.card{
    background-color: rgb(249,247,240);
    border: 1px solid  rgb(249,247,240);
  
    border-radius: 0px;
    
}
.cards{

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}    
.comment{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
input{
    height: 70px;
    margin-bottom: 25px;
    border: 2px solid black;
}

.icon1{
            display: flex;
            justify-content: center; 
            align-items: center;
               
            
                width: 100px;
                height: 100px; 
                font-size: 60px;
                border-radius: 50%;
                background-color:white; 
                border: 2px solid white;
                color: rgb(125,134,129); 
        }
.icon1:hover{
    background-color: green;
    color: white;
}
        .foot{
            background: url("https://img.freepik.com/premium-photo/modern-abstract-background_730620-98.jpg");
            
        }
        a{
            text-decoration: none;
        }
                @media only screen and (max-width: 767px) {
                    .carousel-caption {
                        bottom: 165px;
                    }
                    .carousel-caption h5 {
                        font-size: 17px;
                    }}