
.head{
    color: white;
    padding: 15px;
    background: linear-gradient(45deg, green, rgb(243, 184, 21));
}
.btn-login{
    background-color: green;
    font-size: 14px;
    width: 150px;
    
    color: white;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    }
    .btn-login:hover{
        background-color: white;
        color: green;
        font-weight: bold;
    }
    
    .navbar-toggler{
      border: none;
      font-size: 1.25rem;
    }
    .navbar-toggler:focus,btn-close:focus{
        box-shadow: none;
        outline: none;
    }
    .nav-link{
        color: rgba(0, 0, 0, 0.692);
        font-weight: 500;
        font-size: 24px;
      
    }
    .nav-link:hover, .nav-link.active{
        color: black;
    }
     .nav-link::before,.dropdown-item::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: green;
        visibility: hidden;
        transform: translateX(-50%);
        transition: width 0.3s ease-in-out;
    }
    
     .nav-link:hover::before,.dropdown-item:hover::before {
        width: 100%;
        visibility: visible;}
       
        .carousel-caption {
            bottom: 220px;
        }
        .carousel-caption h5 {
            font-size: 55px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 25px;
        }
        .carousel-caption p {
            width: 60%;
            margin: auto;
            font-size: 22px;
            line-height: 1.9;
        }
        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
          }
        
          .affix + .container-fluid {
            padding-top: 70px;
          }
          
.login{
background-color: rgba(0, 128, 0, 0.098);
        }
        .btn{
            width: 150px;
            padding: 12px;
            font-size: 20px;
            font-weight: 500;
        }
        .form-control{
            height: 50px;
        }

.foot{
    background: url("https://img.freepik.com/premium-photo/modern-abstract-background_730620-98.jpg");
    
}
a{
    text-decoration: none;
}
        @media only screen and (max-width: 767px) {
            .carousel-caption {
                bottom: 165px;
            }
            .carousel-caption h5 {
                font-size: 17px;
            }}